.App {
  font-family: sans-serif;
  text-align: center;
}

.todoContainer {
  width: 400px;
  padding: 16px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f8f8f8;
  box-shadow: 0 2px 4px rgba(16, 15, 15, 0.1);
  margin: 20px auto;
}

.todoItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 8px 0;
}

.todoItem:last-child {
  border-bottom: none;
}

.todoLeft {
  display: flex;
  align-items: center;
  gap: 10px;
  flex: 1;
  word-break: break-word;
}
